<h1>Editing pay_rate_change</h1>

<%= render :partial => "edit_form", :locals => { :button_label => "Update" } %>

<%= link_to 'Show', [@worker,@pay_rate_change] %> |
<%= link_to 'Back', worker_pay_rate_changes_path(@worker) %>
