<!DOCTYPE html PUBLIC "-//W3C/DTD HXTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= flash_helper %>
    <title>Chores</title>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div id="container">
      <h1>Chores</h1>
      <%= yield %>
    </div>
  <body>
</html>
